/* @theme res64 */
/*
MIT License https://github.com/rainbowflesh/Rose-Pine-For-Marp/blob/master/license

 * @size 4:3 1280px 960px
palette in :root
*/

@import "default";
@import "schema";
@import "structure";

:root {
    --base: #2e222f;
    --surface: #3e3546;
    --overlay: #625565;
    --muted: #7f708a;
    --subtle: #908caa;
    --offwhite: #e0def4;
    --text: #ffffff;
    --rose: #e83b3b;
    --love: #f04f78;
    --narj: #fb6b1d;
    --gold: #f9c22b;
    --foam: #8ff8e2;
    --tree: #1ebc73;
    --pine: #0b8a8f;
    --seas: #4d9be6;
    --iris: #a884f3;
    --highlight-low: #2a283e;
    --highlight-muted: #44415a;
    --highlight-high: #56526e;

    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 400;

    background-color: var(--base);
    
}
/* Common style */
h1 {
    color: var(--text);
    text-align: center;
    font-size: 72pt;
}
h2 {
    color: var(--text);
    text-align: center;
    font-size: 48pt;
}
h3 {
    color: var(--text);
}
h4 {
    color: var(--text);
}
h5 {
    color: var(--text);
}
h6 {
    color: var(--text);
}
p {
    font-size: 24pt;
    color: var(--text);
    margin-left: 5%;
    margin-right: 5%;
}
code {
    color: var(--text);
    background-color: var(--highlight-muted);
    font-family: 'Fira Code';
}
text {
    color: var(--text);
}
li {
    color: var(--subtle);
}
img {
    background-color: var(--highlight-low);
}
strong {
    font-weight: inherit;
    font-weight: 800;
    color: var(--seas);
}
b {
    font-weight: inherit;
    font-weight: 800;
    color: var(--seas);
}
em {
    font-weight: inherit;
    font-weight: 800;
    color: var(--love);
    font-style: normal;
}
a {
    color: var(--gold);
}
ul {
    color: var(--sublte);
}

mjx-container {
    color: var(--text);
}
marp-pre {
    background-color: var(--overlay);
    border-color: var(--highlight-high);
}

/* Code blok */
.hljs-comment {
    color: var(--muted);
}
.hljs-attr {
    color: var(--foam);
}
.hljs-punctuation {
    color: var(--subtle);
}
.hljs-string {
    color: var(--gold);
}
.hljs-title {
    color: var(--foam);
}
.hljs-keyword {
    color: var(--pine);
}
.hljs-variable {
    color: var(--text);
}
.hljs-literal {
    color: var(--rose);
}
.hljs-type {
    color: var(--love);
}
.hljs-number {
    color: var(--gold);
}
.hljs-built_in {
    color: var(--love);
}
.hljs-params {
    color: var(--iris);
}
.hljs-symbol {
    color: var(--foam);
}
.hljs-meta {
    color: var(--subtle);
}
